.intro__wrapper-adv-info-image {
	width: 100%;
	height: 860px;
	background-image: url("../img/main/main-desk.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-resolution: 2dppx) {
		background-image: url("../img/main/main-desk@2x.jpg");
	}

	@media (max-width: $tablet-width) {
		height: 344px;
		background-image: url("../img/main/main-tab.jpg");

		@media (min-resolution: 2dppx) {
			background-image: url("../img/main/main-tab@2x.jpg");
		}
	}

	@media (max-width: $mobile-width-only) {
		height: 235px;

		background-image: url("../img/main/main-mob.jpg");

		@media (min-resolution: 2dppx) {
			background-image: url("../img/main/main-mob@2x.jpg");
		}
	}
}

.intro__wrapper-adv-info {
	width: 1170px;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	color: $white;

	@media (max-width: $tablet-width) {
		width: 747px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	@media (max-width: $mobile-width-only) {
		width: 320px;
		height: auto;
	}
}

.intro__wrapper-adv-info-plug {
	@media (max-width: $tablet-width) {
		display: none;
	}
}
