.next-destinations {
	min-width: 387px;
	height: 189px;
	display: flex;
	flex-direction: column;
	border-right: solid 1px $grey-300;

	@media (max-width: $mobile-width-only) {
		min-width: 0;
		width: 288px;
		border-right: none;
		border-bottom: solid 1px $grey-300;
		height: auto;
	}
}
.next-destinations__name {
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	color: $grey-900;
	margin: 0;

	@media (max-width: $mobile-width-only) {
		text-align: center;
	}
}

.next-destinations__wrapper-list {
	display: flex;

	@media (max-width: $mobile-width-only) {
		flex-wrap: wrap;
		justify-content: center;
		margin: 20px 0 0 0;
	}
}
