.page-header {
	width: 1170px;
	height: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 36px auto 32px auto;

	@media (max-width: $tablet-width) {
		width: 768px;
		height: 50px;
		margin: 0 auto;

		&.no-js {
			margin: 0 0 150px 0;
		}
	}

	@media (max-width: $mobile-width-only) {
		width: 100%;
	}
}

.page-header__logo {
	width: 57px;
	height: 22px;
	z-index: 400;

	@media (max-width: $tablet-width) {
		width: 44px;
		height: 17px;
		margin: 0 0 0 21px;
	}

	@media (max-width: $mobile-width-only) {
		margin: 0 0 0 16px;
	}
}
.page-header__menu {
	width: 496px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: $tablet-width) {
		display: none;
	}
}
.page-header__tel {
	position: relative;
	font-size: 18px;
	text-decoration-line: underline;

	&:hover {
		color: $orange-300;

		svg {
			path {
				stroke: $orange-300;
			}
		}
	}

	svg {
		position: absolute;
		left: -35px;
		top: -3px;
	}
}
.page-header__menu-toggle {
	@media (max-width: $tablet-width) {
		&.page-header__menu-toggle_opened {
			z-index: 210;
			background: $white;
			position: fixed;

			&::before {
				content: "";
				position: absolute;
				top: 25px;
				left: 20px;
				width: 31px;
				height: 1px;
				background: $grey-transparent-02;
				transform: rotate(45deg);
				box-shadow: none;
			}

			&::after {
				content: "";
				position: absolute;
				top: 25px;
				left: 20px;
				width: 31px;
				height: 1px;
				background: $grey-transparent-02;
				transform: rotate(-45deg);
			}
		}

		position: absolute;
		top: 0;
		right: 0;
		width: 72px;
		height: 50px;
		background: $orange-300;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
		cursor: pointer;
		z-index: 10;

		&:before {
			content: "";
			position: absolute;
			top: 20px;
			left: 24px;
			width: 22px;
			height: 1px;
			background-color: $white;
			box-shadow: 0 5px 0 0 $white, 0 10px 0 0 $white;
		}
	}

	@media (max-width: $mobile-width-only) {
		width: 50px;

		&:before {
			left: 15px;
		}
	}
}
