.site-info {
	display: flex;
	flex-direction: column;
	padding: 0 0 0 55px;
	box-sizing: border-box;

	@media (max-width: $tablet-width) {
		padding: 0;
		grid-area: site;
		border-top: 1px solid $grey-300;
	}

	@media (max-width: $mobile-width-only) {
		width: 288px;
		margin: 0 0 20px 0;
	}
}
.site-info__name {
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	color: $grey-900;
	margin: 0;

	@media (max-width: $tablet-width) {
		text-align: center;
		margin: 30px 0 0 0;
	}

	@media (max-width: $mobile-width-only) {
		width: 288px;
	}
}
.site-info__text {
	margin: 20px 0 0 0;
	font-size: 14px;
	line-height: 170%;
	color: $grey-transparent-05;

	@media (max-width: $tablet-width) {
		text-align: center;
	}
}
