.wrapper-additional {
	position: relative;
	width:1170px;
	height:455px;
	margin:140px auto 0;

	@media (max-width:$tablet-width) {
		width:100%;
		margin:110px auto 0;
	}

	@media (max-width:$mobile-width-only) {
		margin:50px auto 0;
	}
}

.wrapper-additional__image-wrapper {

	@media (max-width:$tablet-width) {
		width:100%;
		img {
			width:100%;
		}
	}

	@media (max-width:$mobile-width-only) {
		display: none;
	}
}