// fonts
$custom-font: "Montserrat", "Arial", sans-serif;
$default-font: "Arial", sans-serif;

// colors
$white: #ffffff;
$orange-300: #fe7865;
$orange-400: #f17d4b;
$lilac-900: #2c2e3f;
$lilac-transparent-03: rgba(44, 46, 63, 0.3);
$lilac-transparent-07: rgba(44, 46, 63, 0.7);
$grey-50: #fbf8f8;
$grey-300: #d7d9df;
$grey-800: #48494d;
$grey-900: #141517;
$grey-transparent-02: rgba(20, 21, 23, 0.2);
$grey-transparent-05: rgba(20, 21, 23, 0.5);
$grey-transparent-06: rgba(20, 21, 23, 0.6);
$grey-transparent-07: rgba(20, 21, 23, 0.7);

// viewports
$tablet-width: 1219px;
$mobile-width-only: 767px;
